# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Mizuta's Playground
email: yukio.mizuta@outlook.com
description: >- # this means to ignore newlines until "baseurl:"
 A blog exploring Bitcoin through the lens of the Austrian School of Economics, 
 focusing on individual sovereignty, sound money, and free markets. 
 It examines how decentralized digital currency challenges state-controlled monetary systems and highlights the ideas of Mises, Hayek, and Rothbard as foundations for a new era of financial freedom. 
 This space is dedicated to understanding and advancing the peaceful revolution of monetary sovereignty.
baseurl: "/mizutas-playground" # the subpath of your site, e.g. /blog
url: "https://misuta.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: mizutabushi
github_username:  misuta
bitcoin_address: bc1q4fth4ln90wp795v5n849gjjrltlskvxaa4aqjd
lightning_address: mizuta@getalby.com
# Build settings
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
